.header {
  margin: 0;
}

.header__title,
.header__title--secondary,
.character-container__character-name {
  font-family: "Wubba Lubba Dub Dub", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  color: aqua;
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
    1px 1px 0 yellow;
  letter-spacing: 0.5rem;
  margin: 2rem;
  text-align: center;
}

.header__title {
  font-size: 3rem;
}

.header__title--secondary {
  font-size: 2rem;
}
