.header {
  margin: 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #262626;
}

.header__title,
.header__title--secondary,
.character-container__character-name {
  font-family: "Wubba Lubba Dub Dub", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  color: aqua;
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
    1px 1px 0 yellow;
  letter-spacing: 0.5rem;
  margin: 2rem;
  text-align: center;
}

.header__title {
  font-size: 3rem;
}

.header__title--secondary {
  font-size: 2rem;
}

.header__characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  color: white;
}
.header__characters--block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__characters--image {
  max-height: 2rem;
  border-radius: 10rem;
  border: 0.0625rem solid yellow;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.header__characters--character-name {
  text-align: center;
}
