.modal {
  background-image: linear-gradient(
    rgba(242, 255, 0, 0.846),
    rgba(0, 247, 255, 0.846)
  );
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  width: 60%;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.modal__message {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.0625rem solid black;
  border-radius: 0.5rem;
}

.modal__message--heading {
  text-align: center;
  margin: 0.5rem;
}

.modal__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 0.0625rem solid black;
  margin: 1rem;
  border-radius: 0.5rem;
}
.modal__form *,
.modal__message * {
  /* margin-block: 1rem; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.leaderboard {
  place-self: center;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 0.0625rem solid black;
}

.leaderboard__title,
.leaderboard__item,
.leaderboard__item--name,
.leaderboard__item--time {
  margin-inline: 1rem;
}

.leaderboard__title {
  margin: 1rem;
  place-self: center;
}
.leaderboard__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
}
.leaderboard__item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 0.7rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.613);
  text-align: start;
}
.leaderboard__item--name {
  text-align: center;
  place-self: start;
}
.leaderboard__item--time {
  text-align: center;
  place-self: end;
}
