.modal {
  background-image: linear-gradient(
    rgba(242, 255, 0, 0.846),
    rgba(0, 247, 255, 0.846)
  );
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}
.modal__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.modal__form * {
  /* margin-block: 1rem; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.leaderboard {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.leaderboard__title,
.leaderboard__item,
.leaderboard__item--name,
.leaderboard__item--time {
  margin-inline: 1rem;
}

.leaderboard__title {
  margin: 1rem;
}
.leaderboard__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  border-bottom: 0.0625rem solid black;
  text-align: start;
}
.leaderboard__item--name {
}
.leaderboard__item--time {
}
